node_modules/
.nuxt/
dist/
.output/
.output/public/*
*/.DS_Store
data/10-10-2022.json
.output/public/.DS_Store
.DS_Store
data/17-08-2020.json
data/images/*
node_modules/*
.output/public/.DS_Store
.DS_Store
